body{
    background: #000;
}
.media{
    position: fixed;
    top: 5px;
    right: 0px;
    height: 30px;
    width: 300px;
}
.song-current{
    position: fixed;
    bottom: 30px;
    width:100%;
    text-align: center;
    text-shadow: 2px 2px 3px;
    color:#fff;
    font-size:24px;
    height: 30px;
}